.toolbar__user_account {
  padding-left: 10px;
  padding-right: 10px;
}
.user_account--left {
  width: 24px;
  left: 8px;
}
.user_account--image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #919ba9;
  background-color: rgba(255, 255, 255, 0.04);
}
.user_account--image a {
  width: 24px;
  height: 24px;
  display: block;
}

/* Dropdown */
.user_account--right .drdc {
  padding-top: 2px;
}
.user_account--right .drdc a {
  display: block;
  color: #19212e;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 16px;
  margin: 4px 0;
  text-align: left;
}
.user_account--right .drdc a:hover,
.user_account--right .drdc a:focus,
.user_account--right .drdc a:active {
  color: #1d99f1
}
/**
 * Media queries.
 */
@media only screen and (min-width: 60em) {
  .toolbar__user_account {
    padding-left: 12px;
    padding-right: 16px;
    display: flex;
  }
  .user_account--left {
    margin-right: 20px;
  }
  .user_account--right {
    display: block;
    width: 100px;
  }
}