@import "variables";

.toolbar__header {
  height: $unit * 6;
  position: relative;
}

.toolbar__header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: ($unit * 2);
  color: inherit;
  padding: ($unit * 1.5);
  transition: background-color 0.2s;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-flow: row nowrap;
  justify-content: left;
}

.toolbar__header .close {
  height: $unit * 4;
  width: $unit * 4;
  padding: $unit;
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background-size: auto;
  background: no-repeat 12px -396px;
  background-clip: content-box;
}

/* Primary*/
.toolbar__primary .toolbar__header a {
  text-transform: uppercase;
}

.toolbar__primary .toolbar__header a .ico {
  background-position-y: 0;
}

.toolbar__primary .toolbar__header a span {
  display: none;
}

/* Secondary */
.toolbar__secondary .toolbar__header a .ico {
  background-size: auto;
  background: no-repeat 0 -240px;
  margin-right: $unit;
}

@media only screen and (min-width: $compact-breakpoint) {
  body:not(.adminic-toolbar-compact) {
    .toolbar__header a {
      padding: ($unit * 1.5) ($unit * 2);
    }
    .toolbar__primary .toolbar__header a span {
      display: block;
    }
  }
}
