@import "variables";
.toolbar__header {
  height: $unit * 6;
  position: relative;
}
.toolbar__header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: ($unit * 2);
  color: inherit;
  padding: ($unit * 1.5);
  transition: background-color 0.2s;
  letter-spacing: 0.05em;
  align-items: center;
  justify-content: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Primary*/
.toolbar__primary .toolbar__header {
  background-color: $primary-header-bg;
  color: $primary-header-color;
  border-bottom: 1px solid $primary-divider;
}
.toolbar__primary .toolbar__header a {
  visibility: hidden;
  text-transform: uppercase;
}

.toolbar__primary .toolbar__header a:hover {
  background-color: darken($primary-header-bg, 4%);
}
.toolbar__primary .toolbar__header a .ico {
  background: url('../images/drupal-logo.svg') no-repeat center;
}
/* Secondary */
.toolbar__secondary .toolbar__header {
  background-color: $secondary-header-bg;
  color: $secondary-header-color;
  border-bottom: 1px solid $secondary-divider;
}
.toolbar__secondary .toolbar__header a:hover {
  background-color: darken($secondary-header-bg, 4%);
}
.toolbar__secondary .toolbar__header a .ico {
  background: url('../images/back.svg') no-repeat center;
  margin-right: $unit;
}
@media only screen and (min-width: $compact-breakpoint) {
  .toolbar__header a {
    padding: ($unit * 1.5) ($unit * 2);
  }
  .toolbar__primary .toolbar__header a {
    visibility: visible;
  }
}