@import "variables";

/* Icons */
.ico {
  background: transparent no-repeat scroll center;
  background-size: 100% auto;
  display: block;
  width: ($unit * 3);
  height: ($unit * 3);
  border-radius: ($unit / 2);
  transition: background-color 0.2s;
  margin-right: 0;
  visibility: visible;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-size: auto;
}

.active .ico {
  background-position-x: -24px;
}

@media only screen and (min-width: $compact-breakpoint) {
  body:not(.adminic-toolbar-compact) {
    .ico {
      margin-right: $unit;
    }
  }
}

#tab--content .ico {
  background-position-y: -24px;
}

#tab--structure .ico {
  background-position-y: -48px;
}

#tab--users .ico {
  background-position-y: -72px;
}

#tab--blocks .ico {
  background-position-y: -96px;
}

#tab--appearance .ico {
  background-position-y: -120px;
}

#tab--extend .ico {
  background-position-y: -144px;
}

#tab--configuration .ico,
.ico--configuration {
  background-position-y: -168px;
}

#tab--language .ico {
  background-position-y: -288px;
}

#tab--reports .ico {
  background-position-y: -192px;
}

#tab--help .ico {
  background-position-y: -216px;
}

.ico--info {
  background-position-y: -384px;
}

.ico--user {
  background-position-y: -336px;
}

#tab--media .ico {
  background-position-y: -48px;
}
