@import "variables";

.toolbar_links {
  margin-bottom: ($unit * 2) - 1;
  padding-bottom: ($unit * 2);
}

.toolbar_links__header {
  line-height: ($unit * 2);
  padding: $unit ($unit * 2);
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.toolbar_links__content {
  position: relative;
  padding: $unit ($unit * 2);
}

// Navigation.
.toolbar_links nav a {
  text-decoration: none;
  line-height: ($unit * 2);
  padding: ($unit / 2) ($unit * 1.5);
  font-size: 12px;
  transition: all 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-flow: row nowrap;
  justify-content: left;
}

// Primary toolbar section.
.toolbar__primary .toolbar_links__header {
  display: none;
}

.toolbar__primary .toolbar_links nav a span:not(.badge) {
  display: none;
}

.toolbar_links nav a .badge {
  position: absolute;
  top: -($unit / 4);
  right: $unit;
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  min-width: 10px;
  border-radius: (10px + $unit) / 2;
  display: block;
  padding: ($unit / 4) ($unit /2);
  text-align: center;
}

// Secondary toolbar section.
.toolbar__secondary .toolbar_links nav a {
  padding: $unit ($unit * 1.5) $unit ($unit * 6);
}

.toolbar_links:last-child {
  border-bottom: none;
}

@media only screen and (min-width: $compact-breakpoint) {
  body:not(.adminic-toolbar-compact) {
    .toolbar__primary .toolbar_links nav a {
      padding: ($unit / 2) ($unit * 2);
    }
    .toolbar__primary .toolbar_links nav a span {
      display: block;
    }
    .toolbar__primary .toolbar_links nav a span:not(.badge) {
      display: block;
    }
  }
  .toolbar__secondary .toolbar_links nav a {
    padding: ($unit / 2) ($unit * 2);
  }
  .toolbar__secondary .toolbar_links nav a {
    padding: $unit ($unit * 2) $unit ($unit * 6);
  }
  .toolbar_links nav a .ico {
    left: ($unit * 2);
  }
}
