@import "variables";

.toolbar_links {
  margin-bottom: ($unit * 2) - 1;
  padding-bottom: ($unit * 2);
  //border-bottom: 1px solid transparent;
}

.toolbar_links__header {
  line-height: ($unit * 2);
  padding: $unit ($unit * 2);
  color: #676e7a;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.toolbar_links__content {
  position: relative;
  padding: $unit ($unit * 2);
}

// Navigation.
.toolbar_links nav a {
  text-decoration: none;
  line-height: ($unit * 2);
  padding: ($unit / 2) ($unit * 1.5);
  font-size: 12px;
  transition: all 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-flow: row nowrap;
  justify-content: left;
}

// Primary toolbar section.
.toolbar__primary .toolbar_links {
  //border-bottom: 1px solid $primary-divider;
}

.toolbar__primary .toolbar_links__header {
  display: none;
}

.toolbar__primary .toolbar_links nav a {
  color: $primary-link;
}

.toolbar__primary .toolbar_links nav a span:not(.badge) {
  display: none;
}

.toolbar_links nav a .badge {
  position: absolute;
  top: -($unit / 4);
  right: $unit;
  background-color: $primary-header-bg;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  min-width: 10px;
  border-radius: (10px + $unit) / 2;
  display: block;
  padding: ($unit / 4) ($unit /2);
  text-align: center;
}

.toolbar__primary .toolbar_links nav a .badge {
  background-color: $primary-header-bg;
}

.toolbar__primary .toolbar_links nav a.active {
  color: $primary-link-active;
}

.toolbar__primary .toolbar_links nav a:hover,
.toolbar__primary .toolbar_links nav a:focus {
  color: $primary-link-hover;
  background-color: darken($primary-bg, 4%);
}

// Secondary toolbar section.
.toolbar__secondary .toolbar_links {
  //border-bottom: 1px solid $secondary-divider;
}

.toolbar__secondary .toolbar_links nav a .badge {
  background-color: $primary-header-bg;
}

.toolbar__secondary .toolbar_links nav a {
  color: $secondary-link;
  padding: $unit ($unit * 1.5) $unit ($unit * 6);
}

.toolbar__secondary .toolbar_links nav a.active {
  color: $secondary-link-active;
}

.toolbar__secondary .toolbar_links nav a:hover,
.toolbar__secondary .toolbar_links nav a:focus {
  color: $secondary-link-hover;
  background-color: darken($secondary-bg, 4%);
}

.toolbar_links:last-child {
  border-bottom: none;
}

@media only screen and (min-width: $compact-breakpoint) {
  .toolbar_links nav a {
    padding: ($unit / 2) ($unit * 2);
  }
  .toolbar__primary .toolbar_links nav a span {
    display: block;
  }
  .toolbar__secondary .toolbar_links nav a {
    color: $secondary-link;
    padding: $unit ($unit * 2) $unit ($unit * 6);
  }
  .toolbar_links nav a .ico {
    left: ($unit * 2);
  }
}