@import "variables";

.links {
  margin-bottom: ($unit * 2) - 1;
  padding-bottom: ($unit * 2);
  border-bottom: 1px solid transparent;
}

.links__header {
  line-height: ($unit * 2);
  padding: $unit ($unit * 2);
  color: #676e7a;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.links__content {
  position: relative;
  padding: $unit ($unit * 2);
}

// Navigation.
nav a {
  text-decoration: none;
  line-height: ($unit * 2);
  padding: $unit ($unit * 2) $unit ($unit * 7);
  font-size: 12px;
  transition: all 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-flow: row nowrap;
  justify-content: left;
}

// Primary toolbar section.
.toolbar__primary .links {
  border-bottom: 1px solid $primary-divider;
}

.toolbar__primary .links__header {
  display: none;
}

.toolbar__primary nav a {
  color: $primary-link;
}

.toolbar__primary nav a.active {
  color: $primary-link-active;
}

.toolbar__primary nav a:hover,
.toolbar__primary nav a:focus,
.toolbar__primary nav a:active {
  color: $primary-link-hover;
  background-color: darken($primary-bg, 4%);
}

.toolbar__primary nav a:before {
  content: '';
  display: block;
  width: ($unit * 3);
  height: ($unit * 3);
  border-radius: ($unit / 2);
  background-color: transparent;
  transition: background-color 0.2s;
  margin-right: $unit;
  position: absolute;
  left: $unit * 1.5;
  top: 3px;
  visibility: visible;
}

// Secondary toolbar section.
.toolbar__secondary .links {
  border-bottom: 1px solid $secondary-divider;
}

.toolbar__secondary nav a {
  color: $secondary-link;
}

.toolbar__secondary nav a.active {
  color: $secondary-link-active;
}

.toolbar__secondary nav a:hover,
.toolbar__secondary nav a:focus,
.toolbar__secondary nav a:active {
  color: $secondary-link-hover;
  background-color: darken($secondary-bg, 4%);
}

.links:last-child {
  border-bottom: none;
}

@media only screen and (min-width: $compact-breakpoint) {
  nav a:before {
    left: ($unit * 2);
  }
}