@import "variables";

// Move body if primary toolbar exists.
body.adminic-toolbar-primary {
  margin-left: $primary-width-compact;
}

.toolbar__primary {
  position: fixed;
  top: 0;
  left: 0;
  width: $primary-width-compact;
  height: 100%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.toolbar__primary a {
  border-bottom: none;
  text-decoration: none;
}

.toolbar__primary a:hover,
.toolbar__primary a:active,
.toolbar__primary a:focus {
  border-bottom: none;
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: $compact-breakpoint) {
  body.adminic-toolbar-primary:not(.adminic-toolbar-compact) {
    margin-left: $primary-width-normal;
  }
  body:not(.adminic-toolbar-compact) {
    .toolbar__primary {
      width: $primary-width-normal;
    }

    .toolbar__primary .toolbar__section__navigation li a {
      visibility: visible;
    }
  }
}
