@import "variables";
body.adminic-toolbar-secondary {
  margin-left: $primary-width-compact + $secondary-width-compact;
}
.toolbar__secondary {
  position: fixed;
  background-color: $secondary-bg;
  left: $primary-width-compact;
  width: $secondary-width-compact;
  height: 100vh;
  //box-shadow: 0 0 ($unit / 2) 0 rgba(0, 0, 0, 0.25);
  z-index: 999997;
}
.toolbar__secondary a {
  border-bottom: none;
  text-decoration: none;
}
.toolbar__secondary a:hover,
.toolbar__secondary a:active,
.toolbar__secondary a:focus {
  border-bottom: none;
  text-decoration: none;
  color: inherit;
}
@media only screen and (min-width: $compact-breakpoint) {
  body.adminic-toolbar-secondary {
    margin-left: $primary-width-normal + $secondary-width-normal;
  }

  .toolbar__secondary {
    left: $primary-width-normal;
    width: $secondary-width-normal;
  }

  .toolbar__secondary .toolbar__section__header {
    display: block;
  }
}