@import "variables";

body.adminic-toolbar-top {
  margin-top: $unit * 6;
}

body.adminic-toolbar-primary .toolbar__top {
  left: $primary-width-compact;
}

body.adminic-toolbar-secondary .toolbar__top {
  left: $primary-width-compact + $secondary-width-compact;
}

.toolbar__top {
  height: $unit * 2;
  line-height: $unit * 2;
  padding: $unit * 2;
  font-size: 12px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999997;
}

.toolbar__top .site-title {
  margin: 0 ($unit * 2) 0 0;
  line-height: $unit * 2;
  padding: 0;
  display: inline-block;
  font-size: 14px;
}

@media only screen and (min-width: $compact-breakpoint) {
  body.adminic-toolbar-primary .toolbar__top {
    left: $primary-width-normal;
  }

  body.adminic-toolbar-secondary .toolbar__top {
    left: $primary-width-normal + $secondary-width-normal;
  }
}
