.adminic-toolbar-theme .details-description {
  margin-bottom: 1em;
}
.adminic-toolbar-theme .form-type-select {
  float: left;
  margin: 0 1em 1em 0;
}

.adminic-toolbar-presets .details-description {
  margin-bottom: 1em;
}
.adminic-toolbar-presets .fieldgroup {
  float: left;
  margin: 0 1em 1em 0;
}
