@import "variables";

// Primary Toolbar background color.
$primary-bg: #022840;

// Primary Toolbar header background color.
$primary-header-bg: $primary-bg;
// Primary Toolbar header text color.
$primary-header-color: #fff;

// Primary Toolbar text color.
$primary-color: #fff;
// Primary Toolbar link color.y
$primary-link: $primary-color;
$primary-link-bg: null;
// Primary Toolbar link hover color.
$primary-link-hover: #fff;
$primary-link-hover-bg: lighten($primary-bg, 4%);
// Primary Toolbar link active color.
$primary-link-active: #0677BF;
$primary-link-active-bg: null;

// Primary Toolbar divider color.
$primary-divider: lighten($primary-bg, 4%);

// Primary Toolbar scrollbar background color.
$primary-scroll-bg: lighten($primary-bg, 8%);
// Primary Toolbar scroll drag background color.
$primary-scroll: $primary-link-hover;

// Secondary Toolbar background color.
$secondary-bg: #E6ECF0;
// Secondary Toolbar header background color.
$secondary-header-bg: $secondary-bg;
// Secondary Toolbar header text color.
$secondary-header-color: #9EABB8;

// Secondary Toolbar text color.
$secondary-color: #061026;
// Secondary Toolbar link color.
$secondary-link: $secondary-color;
$secondary-link-bg: null;
// Secondary Toolbar link hover color.
$secondary-link-hover: #061026;
$secondary-link-hover-bg: darken($secondary-bg, 4%);
// Secondary Toolbar link active color.
$secondary-link-active: #0677BF;
$secondary-link-active-bg: null;
// Secondary setion title color.
$secondary-section-title-color: darken($secondary-bg, 40%);
// Secondary Toolbar divider color.
$secondary-divider: darken($secondary-bg, 4%);

// Secondary Toolbar scrollbar background color.
$secondary-scroll-bg: darken($secondary-bg, 4%);
// Secondary Toolbar scroll drag background color.
$secondary-scroll: darken($secondary-bg, 16%);

$icons-file: "../images/icons-light.svg";

@import "adminic_toolbar_theme";
