@import "variables";

.drd {
  position: relative;
  display: inline-block
}

.drdt {
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 8px;
  padding: 8px;
  min-width: 24px;
  height: 24px;
  cursor: pointer;
}

.drdc {
  display: none;
  border-radius: 4px;
  background-color: #fff;
  padding: $unit * 2;
  position: absolute;
  bottom: $unit * 4;
  left: 0;
  font-size: 12px;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, .06)
}

.drdc, .drdc a {
  line-height: 16px
}

.drdc a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 4px 0;
}
.drdc span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 4px 0;
}
.drdc a.active {
  font-weight: bold;
}

.drd.open .drdt {
  border: 1px solid #1d99f1;
  color: #1d99f1
}

.drd.open .drdc {
  display: block
}

.drdc h3 {
  line-height: ($unit * 2);
  padding: $unit 0;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
