@import "variables";
.user_account {
  border-top: 1px solid $primary-divider;
  padding: ($unit * 2) ($unit * 1.5);
  position: relative;
  /*left: 0;
  right: 0;
  bottom: 0;*/
}
.user_account__avatar {
  width: $unit * 3;
  margin-bottom: $unit;
}
.user_account__avatar__image {
  width: $unit * 3;
  height: $unit * 3;
  border-radius: 50%;
  border: 1px solid $primary-divider;
  background-color: lighten($primary-bg, 4%);
}
.user_account__avatar__image a {
  width: $unit * 3;
  height: $unit * 3;
  display: block;
}
.user_account__links .drdt {
  border: 1px solid $primary-divider;
  border-radius: $unit / 2;
  line-height: $unit;
  padding: $unit;
  width: $unit * 3;
  height: $unit * 3;
  color: $primary-color;
}
.user_account__links .drdc {
  padding-top: $unit / 4;
}
.user_account__links .drdc a {
  display: block;
  color: $primary-link;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: $unit * 2;
  margin: ($unit / 2) 0;
  text-align: left;
}
.user_account__links .drdc a:active,
.user_account__links .drdc a:focus,
.user_account__links .drdc a:hover {
  color: $primary-link-hover;
}
@media only screen and (min-width: $compact-breakpoint) {
  .user_account__avatar {
    float: left;
    margin-bottom: 0;
  }
  .user_account__links {
    float: right;
    width: $unit * 11;
    text-align: right;
  }
}
