@import "variables";

.toolbar__user_account {
  border-top: 1px solid $primary-divider;
  padding: ($unit * 2) ($unit * 1.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.user_account--left {
  width: $unit * 3;
  margin-bottom: $unit;
}

.user_account--image {
  width: $unit * 3;
  height: $unit * 3;
  border-radius: 50%;
  border: 1px solid $primary-divider;
  background-color: lighten($primary-bg, 4%);
}

.user_account--image a {
  width: $unit * 3;
  height: $unit * 3;
  display: block;
}

.user_account--right .drdt {
  border: 1px solid $primary-divider;
  border-radius: $unit / 2;
  line-height: $unit;
  padding: $unit;
  width: $unit * 3;
  height: $unit * 3;
  color: $primary-color;
}

.user_account--right .drdc {
  padding-top: $unit / 4;
}

.user_account--right .drdc a {
  display: block;
  color: $primary-link;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: $unit * 2;
  margin: ($unit / 2) 0;
  text-align: left;
}

.user_account--right .drdc a:active,
.user_account--right .drdc a:focus,
.user_account--right .drdc a:hover {
  color: $primary-link-hover;
}

@media only screen and (min-width: $compact-breakpoint) {
  .user_account--left {
    float: left;
    margin-bottom: 0;
  }
  .user_account--right {
    float: right;
    width: $unit * 11;
    text-align: right;
  }
}
