{{ attach_library('adminic_toolbar/adminic_toolbar') }}
<div class="toolbar__primary">
  <div class="toolbar__header">
    <a href="{{ url('<front>') }}">{{ title }}</a>
  </div>
  <div class="toolbar__content">
    {% for section in sections %}
      {{ section }}
    {% endfor %}
  </div>
</div>