{% if sections %}
  <div class="wrapper {{ active ? 'active' }}"
       id="toolbar-{{ id|clean_class }}">
    {{ header }}
    <div class="toolbar__content nano">
      <div class="nano-content">
        {% for section in sections %}
          {{ section }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}