{% set attributes = create_attribute() %}
{% set classes = [
  active ? 'active',
] %}
<a {{ attributes.addClass(classes) }} href="{{ url }}">
  {{ title }}
  {% if badge %}<span class="badge">{{ badge }}</span>{% endif %}
</a>