{% set attributes = create_attribute() %}
{% set tab_classes = ['tab', 'icon', active ? 'active'] %}
{% set tab_id = 'tab-' ~ id|clean_class %}
<a {{ attributes.addClass(tab_classes).setAttribute('id', tab_id) }}href="{{ url(route) }}">{{ title }}</a>