{% set attributes = create_attribute() %}
{% set tab_classes = [
  'tab',
  active ? 'active'
] %}
{% set tab_id = 'tab--' ~ id|clean_class %}
<a {{ attributes.addClass(tab_classes).setAttribute('id', tab_id) }} href="{{ url }}">
  <i class="ico"></i>
  <span>{{ title }}</span>
  {% if badge %}<span class="badge">{{ badge }}</span>{% endif %}
</a>