{{ attach_library('adminic_toolbar/adminic_toolbar') }}
<div class="toolbar__primary">
  {{ header }}
  <div class="toolbar__content">
    {% for widget in widgets %}
      {{ widget }}
    {% endfor %}
  </div>
</div>