{% if links %}
<div class="links">
    {% if title %}
    <div class="links__header">{{ title }}</div>
    {% endif %}
    <nav>
        {% for link in links %}
          {{ link }}
        {% endfor %}
    </nav>
  </div>
{% endif %}