{{ attach_library('adminic_toolbar/user_account') }}
<div class="user_account">
  <div class="user_account__avatar">
    <div class="user_account__avatar__image">{{ avatar }}</div>
  </div>
  <div class="user_account__links">{{ dropdown }}</div>
</div>