<div class="toolbar__section user_account">
  <div class="toolbar__section__header">User</div>
  <div class="toolbar__section__content">
    <h3>{{ name }}</h3>
    <a href="{{ profile_url }}">Profile</a>
    <a href="{{ edit_url }}">Edit</a>
    <a href="{{ logout_url }}">Logout</a>
  </div>
</div>