{{ attach_library('adminic_toolbar/user_account') }}
<div class="user_account">
  <div class="user_account__avatar"></div>
  <div class="user_account__name">{{ name }}</div>
  <div class="user_account__links">{{ dropdown }}</div>
</div>