{{ attach_library('adminic_toolbar/user_account') }}
<div class="toolbar__user_account">
  <div class="user_account--left">
    <div class="user_account--image">{{ avatar }}</div>
  </div>
  <div class="user_account--right">{{ dropdown }}</div>
</div>